
.paragraph-set .content {
	padding-left: 25px;
	font-size: 14px;
	line-height: 2;
}

.paragraph-set .content ol li {
	margin-left: 18px;
	font-size: 12px;
}

.table-about tbody tr td {
	color: #444;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 22px;
	font-size: 14px;
	line-height: 1.75;
	border-bottom: 1px solid #ddd;
	border-top: none;
}

.table-about tbody tr:last-child td {
	border-bottom: none;
}

.table-about tbody tr td.left {
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	padding: 9px 14px 0 0;
	border-right: 1px solid #ddd;
	width: 130px;
}

.table-about {
	margin-top: 36px;
	margin-left: 27px;
}

#who-we-are .paragraph-set p {
	width: 90%;
}

#contact-us .paragraph-set {
	margin-bottom: 36px;
}

#who-we-are .main-content,
#contact-us .main-content {
	padding-bottom: 0;
}

#contact-us .paragraph-set ol li {
	margin-left: 22px;
	font-size: 14px;
	line-height: 2
}

#contact-us .paragraph-set p {
	line-height: 2;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, arial, sans-serif;

}

address {
	font-size: 14px;
}

#what-we-do table {
	width: 85%;
}